<h2>Редагувати користувача</h2>
<%= form_for @user do |f|%>
    <%= render 'shared/error_messages' %>
    <%= f.label :ПІБ %><br>
    <%= f.text_field :fio, :value => @user.fio%><br>
    <%= f.label :Логін %><br>
    <%= f.text_field :name, :value => @user.name %><br>
    <%= f.label :Доступ %><br>
    <%= f.label :Пароль %><br>
    <%= f.password_field :password %><br>
    <%= f.label :Підтвердження %><br>
    <%= f.password_field :password_confirmation %><br><br>
    <%= f.radio_button :privilege, "1",  :checked => (@user.privilege==1)%>Адміністратор<br>
    <%= f.radio_button :privilege, 2, :checked => (@user.privilege==2)%>СуперКористувач<br>
    <%= f.radio_button :privilege, 3, :checked => (@user.privilege==3)%>Користувач<br>
    <br>
    <%= f.submit "Змінити", class: "btn btn-large btn-primary" %>
    <a href="/users/show" class="btn btn-large btn-danger">Назад</a>

<% end %>