


    <h2>Фільтр</h2>

    <%= form_tag sales_index_path, :method => :post, :remote => true do %>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
        <div id="buttons">
            <%= render 'buttons' %>
        </div>

    <%end%>
    <div id="filter">
      <%= render 'filter' %>
    </div>
    <div id="filtered" >
      <%= render 'filtered' %>
    </div>