
<% if @telefons.count>0%>
<% @telefons.each do|telefon|%>
<div class="container">
  <div class="col-md-2"><h4><%= telefon.n_tel%></h4></div>
  <div class="col-md-2"><h4><%= telefon.fio%></h4></div>
  <div class="col-md-2"><h4><%= telefon.name%></h4></div>
  <div class="col-md-2 warning"><h4><div class="<%=telefon.color%>"><%= telefon.coop||"Співпраця не перевірена" %></div></h4></div>

  <% if user_adm? %>
    <div class="col-md-2"><a href="/telefons/delete/<%=telefon.id.to_s%>" class="btn btn-large btn-danger">Видалити</a></div>
    <div class="col-md-2"><a href="/telefons/edit/<%=telefon.id.to_s%>" class="btn btn-large btn-success">Змінити</a></div>
  <%end%>
</div>
<%end%>
<%else %>
    <div class="col-md-6"><h4><div class="yellow"> Нічого не знайдено</div></h4></div>
<%end%>